<header class="gs-header">

    <div class="brand">Game Square</div>

    <section class="search">
        <div class="search-form" *ngIf="!searchOpen">
            <input type="search" placeholder="What Game Do You Seek?" (click)="openSearch()" />
            <i class="fa fa-search"></i>
        </div>
    </section>
    
    <section class="login">
        <div class="avatar">
            <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
</span>
        </div>
    </section>
</header>