$font-family-sans-serif: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-base: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-light: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semibold: "OpenSansSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: "OpenSansBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-extra-bold: "OpenSansExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-italic: "OpenSansRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light-italic: "OpenSansLightItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semibold-italic: "OpenSansSemiBoldItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold-italic: "OpenSansBoldItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-extra-bold-italic: "OpenSansExtraBoldItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$border-color: #ccd4da;
$blue: #3e75a6;
